.sub-header{
  height: 60px;
  vertical-align: middle;
}

.explorer {
    line-height: 40px;
    padding-left:20px;
    display: inline-block;
}

.add-widget{
    float: right;
    display: inline-block;
    line-height: 20px;
    padding-right: 20px;
}

.add-widget-btn{
  margin-top: 20px;
}

.add-sensor-bundle{
    float: right;
    display: inline-block;
    line-height: 20px;
    padding-right: 20px;
}

.add-sensor-btn{
  margin-top: 20px;
}

#selectSensorModal .modal-body{
  padding-top: 10px;
  padding-bottom: 10px;
}

#selectSensorModal .modal-footer{
  padding-top: 10px;
  padding-bottom: 0px;
}

#selectSensorModal .modal-content{
  height: 290px;
}

.directory_img{
    width: 30px;
    height: 30px;
    vertical-align: "center";
    margin: 5px;
}

.directory-list{
    margin-left: 30px;
    margin-right: 30px;
    height: 470px;
    width: 90%;
    overflow: auto;
}

.directory-add{
       background-color: #DCDCDC;
       display: block;
       border-radius: 15px;
       vertical-align: middle;
       margin: 10px;
}

.directory-add:hover{
        background-color: #C4C4C4;
       border-radius: 15px;
       vertical-align: middle;
}

.directory-add .add_img{
    display: block;
    position: relative;
    top: 45%;
}

.directory{
     background-color: #FFFFFF;
       display: block;
       border-style: solid;
       border-width: 1px;
       border-color: #E6E6E6;
       border-radius: 15px;
       vertical-align: middle;
       margin: 10px;
       padding-top: 40px;
       padding-bottom: 20px;
       padding-left: 30px;
       padding-right: 30px;
}

.directory-content{
    height: 200px;
}

form{
    display: block;
    position: relative;
    top: 0%;
    height: 230px;
}

.sensor-min-list{
    overflow-y: auto;
    position: relative;
    top:5%;
    height: 150px;
    margin-bottom: 10px;
}

.sensor-min-list{
    overflow-y: auto;
    position: relative;
    top:5%;
    margin-top: 10px;
}


.btn-delete, .btn-update{
    margin: 2px;
}

body{
        background-color: #F5F5F5;
}

.iframe-dashboard{
    background-color: #FFFFFF;
    height: 440px;
    top:  -30px;
}


.sensor-bundle-list{
    margin-top:  -10px;
    margin-left: 10px;
    margin-right: 10px;
}

.sensor-add{
       background-color: #DCDCDC;
       display: block;
       border-radius: 15px;
       vertical-align: middle;
       margin: 10px;
}

.sensor-add:hover{
        background-color: #C4C4C4;
       border-radius: 15px;
       vertical-align: middle;
}

.sensor-add .add_img{
    display: block;
    position: relative;
    top: 45%;
}

.sensor-bundle{
      background-color: #FFFFFF;
       display: block;
       border-style: solid;
       border-width: 1px;
       border-color: #E6E6E6;
       border-radius: 5px;
       vertical-align: middle;
       margin: 10px;
       padding-top: 20px;
       padding-bottom: 20px;
       padding-left: 20px;
       padding-right: 20px;
       height: 70px;
}

.sensor-bundle-name{
        display: block;
        margin: 10px;
        font-size: 15px;
}

.widget{
       display: block;
       background-color: #FFFFFF;
       border-radius: 5px;
       vertical-align: middle;
       height: 200px;
       padding: 0px;
       margin: 5px;
}

.sensor-name{
    border-width: 1px;
    border-style: solid;
     border-color:  #E6E6E6;
     height: 30px;
     vertical-align: middle;
     line-height: 30px;
     clear: both;
     width: 100%;
}

.widget-name{
    border-width: 1px;
    border-style: solid;
     border-color:  #E6E6E6;
     height: 30px;
     vertical-align: middle;
     line-height: 30px;
     clear: both;
     width: 100%;
}

.btn-sensor-control{
    float: right;
    line-height: 25px;
    border-style: none;
}

.btn-connect-sensor{
    line-height: 25px;
    margin-top: 20px;
    border-style: none;
}

.name{
  margin: 0 auto;
}

.sensor-content{
    border-width: 1px;
    border-style: solid;
     border-color: #E6E6E6;
     height: 70px;
}

.widget-content{
    border-width: 1px;
    border-style: solid;
     border-color: #E6E6E6;
     height: 90px;
}

.widget-content.chart{
    border-width: 1px;
    border-style: solid;
     border-color: #E6E6E6;
     height: 230px;
}

.value{
    font-size: 35px;
    margin-bottom: -5px;
}
.update{
    font-size: 15px;
}

#main-stack{
  margin-left: 10%;
  margin-right: 10%;
}

#main-stack .grid-stack-item{
  margin: 20px;
}